<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TOP</title>
</head>
<body>
	<h1>Dチームなんでも掲示板</h1>
	<a href="/new"><button type="button">新規投稿</button> </a>
	<table border="1">
		<tr>
			<th>ID</th>
			<th>内容</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		<tr th:each="content : ${contents}">
			<td th:text="${content.id}">
			<td th:text="${content.content}">

			<td><a th:href="@{/edit/{id}(id=${content.id})}">
					<button type="button">編集</button>
			</a></td>
			<td>
				<form th:action="@{/delete/{id}(id=${content.id})}"
					th:method="delete">
					<input type="submit" value="削除">
				</form>
			</td>
			<td><a th:href="@{/comment/{id}(id=${content.id})}">
					<button type="button">コメント</button>
			</a></td>
		</tr>
	</table>
	<table border="2">
		<tr>
			<th>ID</th>
			<th>messageID</th>
			<th>コメント</th>
		</tr>
		<tr th:each="comment : ${comments}">
			<td th:text="${comment.id}">
			<td th:text="${comment.messageId}">
			<td th:text="${comment.comment}">
		</tr>
	</table>
</body>
</html>